{% extends 'frontend/base.html.twig' %}

{% block title %} {{ title }} {% endblock %}


{% block navbar %}

<div class="uk-container">

 {% include 'frontend/components/navigator.html.twig' %}

</div>

{% endblock %}
{% block body %} owo {% endblock %}
