{% for question in questions %}

 <a href="" uk-tooltip="{{ question.question.rewards }} puntos">

  <div class="question-card-admin uk-background-default uk-border-rounded uk-padding-small uk-margin uk-box-shadow-hover-medium">

    <h4>¿{{ question.question.question }}?</h4>

    <p>
    
    </p>
  </div>

</a>

{% endfor %}
